# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
.sync/
**/ios/.symlinks/
**/ios/Pods/
**/macos/Flutter/ephemeral/
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# Build
build/
dist/
*.apk
*.aab
*.ipa

# Coverage
coverage/
